*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --primary-color: #EBB400;
    --primary-degraded: rgba(237, 185, 0, 0.45);
    --second-color: rgba(80, 72, 68, 1);
    --color-text: #3A3A3C
}
@font-face{
    font-family: agressive;
    src: url("../font/AGRESSIVE-LOGOTIPO.otf");
}
@font-face {
    font-family:slogan;
    src: url("../font/Azonix-SLOGAN.otf");
}
@font-face {
    font-family: rubro;
    src: url("../font/yugothib-RUBRO.ttf");
}
html{
    /* overflow-x: hidden; */
    overflow-y: auto;
    scroll-behavior: smooth ;
}
body{
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.info_contac{
    height: 48px;
    width: 100%;
    background: var(--second-color);
    z-index: 999;
    display: block;
    /* position: fixed; */
}
.contac{
    display: flex;
    height: 100%;
    gap: 16px;
    justify-content: flex-end;
    margin-right: 16px;
}
.contac_lista{
    display: flex;
    align-items: center;
}
.contac_lista > a{
    color: #fff;
    text-align: justify;
    font-family: rubro;
    font-size: 12px;
    width: 100%;
}
.contac_lista>i{
    color: #fff;
    margin-right: 6px;
}


._header{
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
    /* position: fixed; */
    z-index: 1000;
    background-color: #fff;
}
.logo{
    flex: 1;
    padding-left: 32px;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
}
.container__logo{
    width: 255px;
}
.text_habitus{
    font-family: agressive;
    /* 
    background-clip: text;
    color: transparent; */
    background-color: var(--primary-color);
    font-size: 40px;
    transform: translate(-200%, 0);

    color: transparent;
    background-image: linear-gradient(to left, var(--primary-color),  var(--primary-color),  var(--primary-color),  var(--primary-color),#fff, var(--primary-color));    
    -webkit-background-clip:text;
    animation: color 3s linear infinite;
    background-size: 500%;  
}
@keyframes color {
    from {
        background-position: 0% 50%;
    }

    to {
        background-position: 100% 50%;
    }
}
.text_habitus.animation{
    transition: 1.5s all ease;
    transform: translate(0,0);
}
.container__circle{
    display: flex;
    gap: 10px;
}
.circle_habitus{
    border-radius: 50%;
    background-color: var(--second-color);
    width: 1rem;
    height: 1rem;
}
.circle_habitus{
    transform: translate(0, -400%);
}
.circle_habitus.one.anima{
    transition: 1s all ease-in;
    transform: translate(0,0);
}
.circle_habitus.two.anima{
    transition: 1s all ease-in;
    transform: translate(0,0);
}
.circle_habitus.tree.anima{
    transition: 1s all ease-in;
    transform: translate(0,0);
}
.text_pie{
    font-size: 9px;
    text-align: end;
    font-family: slogan;
    color: var(--second-color);
    opacity: 0;
}
.text_pie.anima{
    transition: 1.5s all ease-in;
    opacity: 1;
}
.nav_menu{
    flex: 1;
    height: 100%;
    margin-right: 16px;
}
.nav_lista{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 32px;
}
.nav_li{
    cursor: pointer;
}
.nav_li>a{
    font-family: slogan;
    color: var(--primary-color);
    cursor: pointer;
    width: 100%;
}
.burger_menu{
    position: relative;
}
.burger_menu{
    display: none;
}
.burger_menu i{
    position: absolute;
}


@media screen and (max-width: 768px) {
        ._header{
            position: relative;
        }
        .info_contac{
            height: 55px;
        }
        .contac{
            gap: 0;
            flex-wrap: wrap;
        }
        .contac_lista{
            margin-left: 16px;
        }
        .burger_menu{
            display: block;
            width: 2rem;
            height: 2rem;
            margin-right: 16px
        }
        .burger_menu > i{
            font-size: 28px;
            text-align: center;
            cursor: pointer;
        }
        .icon_two{
            opacity: 0;
        }
        .logo:nth-child(1){
            order: 1;
        }
        .burger_menu:nth-child(3){
            order: 2;
        }
        .nav_menu:nth-child(2){
            order: 3;
            position: absolute;
            /* justify-content: space-evenly; */
            /* position: fixed; */
            top: 85px;
            right: 0;
            bottom: 0;
            /* width: 100%; */
            background-color: var(--second-color);
            height: 100vh; 
            width: 250px;
            margin: 0;
            box-shadow: inset 0 0 4px 3px #333;
            transition: .6s all ease;
            transform: translate(200%, 0);
            z-index: 999;
        }
        .nav_menu.responsive_active{
            transition: .6s all ease;
            transform: translate(0,0);
        }
        .nav_lista{
            flex-direction: column;
            gap: 0;
        }
        .nav_li{
            width: 100%;
            text-align: center;
            border-top: 1px solid #4d4d4d;
            border-bottom: 1px solid #1a1a1a;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2rem;
        }
        .nav_link{
            display: block;
        }
        .nav_li:hover{
            background-color: #47403F;
        }
}
@media screen and (max-width:450px) {
    .info_contac{
        height: 100%;
    }
}

@media screen and (max-width: 320px) {
    .logo{
        padding-left: 13px;
    }
    .container__logo{
        width: 85%;
    }
    .circle_habitus{
        width: .6rem;
        height: .6rem;
    }
    .text_habitus{
        font-size: 28px;
    }
    .text_pie{
        font-size: 6px;
    }
    .burger_menu i{
        font-size: 21px;
    }
    .text_habitus{
        width: 100%;
        /* height: 100%; */
    }
}


/* SECTION NUMERO 1 SLIDER */

.section__one{
    width: 100%;
    scroll-behavior: smooth;
}
.container_slider{
    height: 490px;
    position: relative;
}
.slide_section{
    height: 100%;
}
.slider{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.slider.opacity{
    opacity: 1;
}
.slider > img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.contenedor_btns{
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 16px;
}
.btn {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    outline: none;
}
.btn:hover{
    transition: .5s all ease;
    cursor: pointer;
    transform: scale(1.1);
}
.btn > i{
    font-size: 24px;
    color: var(--color-text);
}
.btn:hover > i{
    color: var(--second-color);
}
.text_slider{
    position: absolute;
    font-size: 42px;
    top: 70%;
    transform: translate(-100%,0);
    color: #fff;
    font-family: slogan;
}
.text_slider.active{
    transition: .9s all ease;
    transform: translate(20%, 0)
}

/*  SECCION NUMERO 2 INFO DE NOSTROS */

.section__two{
    margin-top: 64px;
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 32px; */
    margin-bottom: 16px;
}
.titulo_two{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}
.titulo_two > h2{
    font-family: agressive;
    width: 70%;
    height: 100%;
    font-size: 36px;
    color: #3A3A3C;
    border-bottom: 3px solid #3A3A3C
}

.container_info{
    display: flex;
    padding-top: 16px;
    width: 90%;
    height: 100%;
}
.container_info > figure{
    flex: 1;
    position: relative;
    height: 100%;
}
figure > .degrade{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:var(--primary-degraded)
}
figure > img{
    position: absolute;
    width:100%;
    height: 100%;
    object-fit: cover;
}
.container_parrafo{
    flex: 1;   
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_parrafo > p{
    width: 80%;
    font-size: 16px;
    color: rgba(58, 58, 60, 0.75);;
    font-family: rubro;
    text-align: justify;
}
@media screen and (max-width: 768px) {
    .container_info{
        width: 100%;
    }
}
@media screen and (max-width: 600px) {
    .container_info{
        position: relative;
    }
    .container_info > figure{
        /* position: absolute; */
    }
    .container_parrafo{
        position: absolute;
        background-color: transparent;
        top: 30%;
        width: 100%;
    }
    .container_parrafo >p{
        width: 98%;
        font-size: 14px;
    }
}
@media screen and (max-width: 450px) {
    .titulo_two h2{
        font-size: 22px;
    }
}


/*  ETILOS PARA  EL MAPA CONCEPTUAL */


.section__tree{
    width: 100%;
}
.title_section__tree{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 32px 0;
}
.title_section__tree > h2{
    text-align: center;
    width: 70%;
    font-size: 36px;
    font-family: agressive;
    color: #3A3A3C;
    border-bottom: 3px solid #3A3A3C;
}

.contenedor_img{
    width: 100%;
    height: 500px;
    position: relative;
}
.img_desktop {
    width: 100%;
    height: 100%;
    object-fit: contain
}
.img_movil{
    display: none;
}
@media screen and (max-width: 450px) {
    .title_section__tree h2{
        font-size: 22px;
    }
    .img_desktop {
        display: none;
    }
    .img_movil{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
/*  ESTILOS PARA LAS TARJETAS     */

.section__four{
    padding: 32px 0;
    width: 100%;
    gap: 16px;
    display: flex;
    justify-content: space-evenly;
}
.card__section__four{
    border: 1px solid #cdcdcd;
    width: 330px;
    height: 500px;
    overflow: hidden;
    border-radius:48px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 54px;
}
.card__figure{
    width: 100%;
}
.card__figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card__subtitulo{
    font-size: 22px;
    font-family: slogan;
    margin-top: 16px;
}
.card__parrafo{
    padding: 6px 10px;
    font-family: rubro;
    color: var(--color-text);
    font-size: 16px;
    text-align: justify;
}
@media screen and (max-width: 1023px) {
    .card__subtitulo{
        font-size: 20px;
        font-family: slogan;
        margin-top: 16px;
    }
    .card__parrafo{
        margin-top: 16px;
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .section__four{
        flex-wrap: wrap !important;
    }
}

.section__map{
    margin-top: 24px;
    width: 100%;
    text-align: center;padding-bottom: 16px;
}
.titulo__map{
    width: 100%;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}
.titulo__map h2{
    width: 70%;
    font-size: 36px;
    font-family: slogan;
    color: var(--second-color);
    border-bottom: 3px solid var(--second-color);
}
.section__map iframe{
    width: 90%;
    border-radius: 32px;
    box-shadow: 3px 2px 10px 2px #cdcdcd;
}

@media screen and (max-width: 450px) {
    .titulo__map h2{
        font-size: 24px;
    }
    .section__map iframe{
        width: 100%;
        border-radius: 0px;
    }
}
/*  ESTILOS PARA EL FOOTER */

.section__footer{
    background-color: var(--second-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}
.titulo__footer{
    width: 100%;
    color: var(--primary-color);
    font-size: 24px;
    font-family: slogan;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.contenedor_footer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.contenedor__info{
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
}
.contenedor__info a{
    margin-left: 64px;
    text-align: start;
    font-size: 16px;
    color: #fff;
    font-family: rubro;
}
.contenedor_redes{
    flex: 1;
}
.siguenos h3{
    font-size: 18px;
    font-family: slogan;
    color: var(--primary-color);
}
.siguenos i{
    margin: 16px 16px 0 0;
    color: white;
    font-size: 24px;
    cursor: pointer;
}
.nav_2{
    margin-top: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.nav__footer{
    display: flex;
    gap: 16px
}
.footer_link{
    color: var(--primary-color);
    font-family: slogan;
    font-size: 16px;
}
@media screen and (max-width: 768px) {
    .contenedor_footer{
        flex-direction: column;
        align-items: center;
    }
    .titulo__footer h2{
        font-size: 18px;
    }
    .contenedor__info{
        width: 100%;
    }
    .contenedor__info a{
        text-align: center;
        margin: 0;
    }
    .contenedor_redes{
        margin-top: 16px;
        width: 100%;
    }
}